<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hdu.wll.dao.scoreSystemAdminMapper">

<select id="getInfoWithOther" parameterType="string" resultType="systemAdminInfo">
        SELECT * 
		FROM score_system_admin ad, score_role ro 
		WHERE sys_admin_username = #{username}
		and  sys_admin_password = #{pass} 
		and ad.sys_admin_role = ro.role_id;
    </select>

</mapper>